@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-container, .print-container * {
    visibility: visible;
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    border: none !important;
  }
  .print\:hidden {
    display: none !important;
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
